@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aula do desafio tornese um programador</h1>
    <p>Para mais acesse <a href="http://torneseumprogramador.com.br/">http://torneseumprogramador.com.br/</a>.</p>
</div>
